@import '@/scss/mixin/_assistant.scss';
@import './app.scss';

.aside-list{
  width: 280px;
  height: 100%;
  margin-right: 8px;
}

@media (max-width: 824px){
  .aside-list{
    position: fixed;
    z-index: 1;
  }
  .sm-flex-0{
    flex: 0 !important;
  }

  .code-block-body{
    text-wrap: wrap !important;
  }
  .login-wrapper{
    
    padding-top: 0;
    .login-iframe{
      width: 100%;
      height: 100%;
    }
  } 
  .code-container{
    max-width: 72vw !important;
  }
}

.chat-container{
  height: calc(100vh - 56px);
  display: flex;

  .code-container{
    max-width: calc(100vw - 500px);
  }
}
.history-new-chat:hover {
  background: linear-gradient(85.59deg, #165A4B 0%, #147B64 100%);
  background-origin: border-box;
}
.history-new-chat:hover svg {
  color: rgba(255,255,255,0.9);
}

.history-chat-tab{
  .conversation-opt{
    display: none;
  }
}

.history-chat-tab:hover {
  background-color: var(--gray-06);
  .conversation-opt{
    display: flex;
  }
}
.history-chat-tab[data-active="true"] {
  background-color: #DDEBE7;
  .conversation-opt{
    display: flex;
  }
}

.code-block-body{
  display: block !important;
}

.send-btn{
  display: flex;
  width: 44px;
  height: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0px;
  padding: 16px 20px;
  position: relative;
  border-radius: 4px;
  background: linear-gradient(180deg, rgb(15, 64, 55) 0%, rgb(21, 88, 73) 100%);
  .send-btn-img{
    position: relative;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -6px;
    margin-right: -6px;
  }

  &[disabled]{
    background: none;
    background-color: var(--gray-20);
  }


  &:hover{
    background: none;
    background-color: var(--brand);
  }
}

.main-container{
  padding: 12px;
}

.bottom-share-show {
  margin-top: 66px;
  align-items: center;
  background-color: var(--white-100);
  border-color: var(--gray-12);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  justify-content: space-between;
  padding: 18px 20px;
  position: relative;
}

.bottom-share-show .div {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.bottom-share-show .checkbox {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.bottom-share-show .div-2 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2px;
  position: relative;
}

.bottom-share-show .text-wrapper {
  color: #000000e0;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.bottom-share-show .text-wrapper-2 {
  color: #00000099;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.bottom-share-show .div-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 12px;
  position: relative;
}

.bottom-share-show .button-instance {
  flex: 0 0 auto !important;
}

.user-upload-img {
  display: block;
  margin-bottom: 8px;
  max-width: 60%;
}

.main-content-bottom {
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

*[hidden]{
  display: none !important;
}

.auto-width-dropdown{
  width: auto !important;
  right: 32px !important;
  left: auto !important;
}

.text-desc{
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.chat-default-button{
  background-color: #ffffff;
  border: 1px solid var(--gray-12) !important;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  padding: 0 12px;

  align-items: center;
  border-radius: 4px;
  gap: 10px;
  position: relative;

  &.button-full{
    color: var(--brand);
    background-color: #ffffff;
    &:hover{
      background-color: var(--gray-06);
    }
  }
  
  &.button-info{
    height: 36px;
    padding: 0 16px;
    background-color: #ffffff;
    border-color: var(--gray-20);
    color: var(--gray-60);
    &:hover{
      border-color: var(--gray-40);
      color: var(--brand);
    }
  }
  &.button-primary{
    height: 36px;
    padding: 0 16px;
    background-color: var(--brand);
    color: #ffffff;
    &:hover{
      background-color: var(--brandhover);
    }
  }
}

.main-content-bottom {
  width: 800px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;

  .wrap {
    position: relative;
  }

  .input-content-wrapper {
    text-align: left;
    width: 800px;
    padding: 12px 12px 12px 16px;
    position: relative;
    background-color: var(--white-100);
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--gray-12);
    box-shadow: 0px 4px 16px 0px #00000014;

    &:has(.textarea:focus) {
      border-color: #0F4037;
    }
  }

  .input-content-wrapper:hover {
    border-color: var(--gray-40);
  }

  .textarea {
    resize: none;
    width: 100%;
    border: none !important;
    padding-right: 20px;
    // word-break: break-all;
    background: transparent;
    font-weight: 400;
    color: var(--gray-88);
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    outline: none !important;
    box-shadow: none !important;
    padding: 4px 20px 4px 11px;
    max-height: 40vh;
  }
  .upload-img-wrapper{
    cursor: pointer;
    font-size: 20px;
    opacity: .4;
    display: none;
    &:hover {
      opacity: .6;
    }
    &[data-show="true"]{
      display: block;
    }
  }
}

.ant-checkbox-wrapper .ant-checkbox .ant-checkbox-inner{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-color: var(--brand) !important;
}
.ant-checkbox.ant-checkbox-checked .ant-checkbox-inner{
  border-color: #155849;
  background: linear-gradient(180deg, #0f4037 0%, #155849 100%);
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner{
  background: linear-gradient(180deg, #0f4037 0%, #155849 100%);
}

.text-brand{
  color: var(--brand);
}